<h1>Create a Profile!</h1>

<%= form_for @user do |f| %>
  Name: <%= f.text_field :name %> <br>
  Email: <%= f.text_field :email %> <br>
  Password: <%= f.password_field :password %> <br>
  <%= f.submit 'Create Profile' %>
<% end %>
